---
title: 'Strayhouse Coffee, Clinton, OK'
published: true
---

<div id="our-story" class="content-blocks">
  <div class="wrapper">
    <div class="content block">
      <%= partial "our_story" %>
    </div>
    <div class="image block">
    </div>
    <img src="/images/our-story.jpg" class="u-max-full-width show-on-mobile-only">
  </div>
</div>

<div id="locations" class="content-blocks">
  <div class="wrapper">
    <div class="image block">
    </div>
    <div class="content block">
      <%= partial "location" %>
    </div>
    <img src="/images/mobile.jpg" class="u-max-full-width show-on-mobile-only">
  </div>
</div>

<div id="menu" class="content-blocks">
  <div class="wrapper">
    <div class="content block">
      <%= partial "menu" %>
    </div>
    <div class="image block">
    </div>
    <img src="/images/menu-3.jpg" class="u-max-full-width show-on-mobile-only">
  </div>
</div>

<div id="events" class="content-blocks">
  <div class="wrapper">
    <div class="image block">
    </div>
    <div class="content block">
      <%= partial "events" %>
      <!-- <h2>Events</h2>
      <hr>
      <p>
        Does your community or organization have an upcoming event? We'd love to be there to bring the funky and the coffee.
      </p>
      <p>
        The Strayhouse Airstream is also available for your private event such as weddings, birthdays, and retail or cooperate functions. Please call us at 580-450-2527 for more information.
      </p>
      <div class="tagline">Book Us Now!</div> -->
    </div>
    <img src="/images/events.jpg" class="u-max-full-width show-on-mobile-only">
  </div>
</div>

<div class="full-break">
</div>
