---
title: 'Strayhouse Coffee, Clinton, OK'
published: true
---

<div id="our-story" class="content-blocks">
  <div class="wrapper">
    <div class="content block">
      <%= partial "our_story" %>
    </div>
    <div class="image block">
    </div>
    <img src="/images/our-story.jpg" class="u-max-full-width show-on-mobile-only">
  </div>
</div>

<div id="locations" class="content-blocks">
  <div class="wrapper">
    <div class="image block">
    </div>
    <div class="content block">
      <%= partial "location" %>
    </div>
    <img src="/images/location.jpg" class="u-max-full-width show-on-mobile-only">
  </div>
</div>

<div id="menu" class="content-blocks">
  <div class="wrapper">
    <div class="content block">
      <%= partial "menu" %>
    </div>
    <div class="image block">
    </div>
    <img src="/images/menu.jpg" class="u-max-full-width show-on-mobile-only">
  </div>
</div>

<div id="events" class="content-blocks">
  <div class="wrapper">
    <div class="image block">
    </div>
    <div class="content block">
      <%= partial "events" %>
    </div>
    <img src="/images/events.jpg" class="u-max-full-width show-on-mobile-only">
  </div>
</div>

<div class="full-break">
</div>
